* {
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;

}

:root {
    --primary: #131313;
    --secondary: #424242;
    --text: #727272;
    --accent: #FF900E;
    --white: #ffffff;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}

main>section {
    margin-top: 130px;
}

/* Button CSS */
.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-family: "Work Sans", sans-serif;
    background-color: var(--accent);
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 24px;
}

p {
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}

img {
    width: 100%;
}

/* Header Part CSS */
header {
    padding: 30px 20px 50px;
    background-color: rgba(255, 144, 14, 0.1);
}

nav,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);

}

.navmenu ul {
    display: flex;
    gap: 30px;
}

.navmenu ul li {
    list-style: none;
    /* margin-left: 50px; */
}

.navmenu ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
}

/* Banner part CSS */
.banner {
    padding: 100px 0 0px 0;
}

.banner-content {
    max-width: 860px;
    margin: auto;
    text-align: center;
}

.banner-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 15px;

}

.banner-content p {
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 30px;
}

.banner-images img {
    width: 100%;
    margin-top: 50px;
    border-radius: 8px;
}

/* Teams Part CSS */
.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;

}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    max-width: 530px;
}

.team-content p {
    margin: 24px 0 32px;
}

.team-content .quick-list {
    font-weight: 500;
    color: var(--secondary);
}

.team-content .features {
    color: var(--accent);
}

/* Features Par CSS */
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
}

.features-content,
.features-imeags {
    width: 50%;
}

/* Facts Part CSS */
.facts-content {
    max-width: 550px;
    margin-bottom: 50px;
}

.facts-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.facts-item-box {
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #FF900E;
}

.facts-item-box img {
    height: 45px;
    width: 45px;
}

.facts-item-box h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--secondary);
    margin: 10px 0px 5px;

}

.facts-item-box h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text);
}

/* Oue Sponsors CSS */

.sponsors-content {
    max-width: 550px;
    text-align: center;
    margin: 0px auto 50px;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center
}

.sponsors-companies img {
    width: auto;
    filter: grayscale(100%);
}

/* Responsive Start Here */
@media screen and (max-width:576px) {
    main>section {
        margin-top: 50px;
    }

    nav {
        flex-direction: column;
    }

    /* teams Part */
    .teams {
        flex-direction: column-reverse;
    }

    .team-images {
        gap: 10px;
    }

    /* facts */
    .facts-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
    }

    .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    main>section {
        margin-top: 70px;
    }

    /* teams Part */
    .teams {
        flex-direction: column-reverse;
    }

    .team-content {
        text-align: center;
    }

    /* facts */
    .facts-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* sponsors */
    .sponsors-companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}